
#main-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

#images-container {
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    height: 90vh;
    overflow-y: scroll;
}

#image-container {
    width: 250px;
}

#buttons-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
    margin: 0 auto;
}

Button {
    width: 100%;
    margin-top: 10px;
}

